@model GroceryLists
@{
    ViewData["Title"] = "AddGroceryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="color: black; font-size: xx-large">New Grocery List</h2>
<br />

<form asp-controller="GroceryList" asp-action="AddGroceryList" method="post">  
    <div class="labels">
        <label asp-for="GroceryListImage">Grocery List Image (url only):</label>
    </div>
    <div class="fields">
        <input type="url" asp-for="GroceryListImage" />
    </div>
    <br />
    <div class="labels">
        <input type="submit" value="Add Grocery List" />
    </div>
</form>