@model GroceryLists
@{
    ViewData["Title"] = "AddGroceryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center" style="color: orange; font-size: xx-large">New Grocery List</h2>

<form asp-controller="GroceryList" asp-action="AddGroceryList" method="post">
    <div class="labels">
        <label asp-for="Item">Item:</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="Item" />
    </div>
    <div class="labels">
        <label asp-for="GroceryListImage">Grocery List Image (url only):</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="GroceryListImage" />
    </div>
    <div class="labels">
        <label asp-for="Quantity">Quantity:</label>
    </div>
    <div class="fields">
        <input type="text" asp-for="Quantity" />
    </div>
    <div class="labels">
        <input type="submit" value="Add Grocery List" />
    </div>
</form>