
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2 align="center" style="color: orange; font-size: xx-large">Grocery List</h2>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div>
                    @{ foreach (GroceryLists ingredient in Model)
                        {
                            <div class="col-md-4">
                                <a href="/Recipe/Detail">
                                    <img class="recipeImage" src="@recipe.RecipeImage" alt="Recipe Image">
                                </a>
                                <div class="inline-block" style="color: orange; font-size: x-large; font-style: oblique;">
                                    <p>@recipe.RecipeName</p>
                                    <p>@recipe.CookTime minutes of cook time.</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </body>*@