@model IList<Recipes>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url("https://wallpapershome.com/images/pages/pic_h/403.jpg");
        background-size: 100%;
        background-attachment: fixed;
    }
</style>

<body>
    <div class="topRecipes">
        <h2 align="center" style="color: white;">All Recipes</h2>
        <br />
        <br />
        <br />
        <div class="container-fluid">
            <div class="row">
                <div>
                    @{ foreach (Recipes recipe in Model)
                        {
                            <div class="col-md-4">
                                <a href="/Recipes/Detail">
                                    <img class="recipeImage" src="@recipe.RecipeImage" alt="Recipe Image">
                                </a>
                                <div class="inline-block" style="color: white; font-size: large; font-style: oblique;">
                                    <p>@recipe.RecipeName</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            <p id="buttonOnAllRecipesPage">
                <a href="/MealPlan/Index" class="btn btn-success" style="margin-left: 20%">My Meal Plan</a>
                <a href="/Account/Register" class="btn btn-warning" style="margin-left: 35%">Not Registered? Sign Up!</a>
            </p>
        </div>
    </div>
</body>