@model AwesomeModel
@{
    ViewData["Title"] = "AddMealPlan";
}

<h2>AddMealPlan</h2>


@*<form asp-controller="MealPlan" asp-action="AddMealPlan"  asp-route-model="@Model" method="post">*@
<form asp-controller="MealPlan" asp-action="Submit"  method="post">

    <div>
        <label asp-for="MealPlan.MealPlanName">Meal Plan Name</label>
        <input class="Spacing2" asp-for="MealPlan.MealPlanName" asp-items="Model.MealPlanName" />
    </div>

    @*<div>S
            <label asp-for="state">State of Residence</label>
            <select class="Spacing3" asp-for="state" asp-items="SurveyModel.StatesAbb"></select>
        </div>
        <div>
            <label asp-for="activityLevel">Activity Level</label>
            <select class="Spacing4" asp-for="activityLevel" asp-items="SurveyModel.Active"></select>
        </div>*@
    <div>
        <div>
            <label asp-for="Recipe.RecipeName">Recipe to Add</label>
            <select asp-for="@Model.Recipe.RecipeName" asp-items="Model.Recipe.RecipeDropDown" ></select>
        </div>
    </div>
    <div id="button">
        <input type="submit" value="Submit" />
    </div>
</form>


