@model IList<MealPlans>
@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url("http://pixymotion.pictures/Cat/Food/Delicious%20Food%20Wallpapers/Delicious%20Food%20Wallpapers%202%20(2).jpg");
        background-size: 100%;
        background-attachment: fixed;
    }
</style>

<body>
    <div>
        <div class="container-fluid">
            <h2 align="center" style="color: orange; font-size: xx-large">Your Meal Plans</h2>
            <div class="row">
                @{ foreach (MealPlans plan in Model)
                    {
                        <div class="col-md-4">
                            <a href="/MealPlan/MealPlanDetail?MealPlanId=@plan.MealPlanId">
                                <img class="mealPlanImage" src="@plan.MealPlanImage" alt="Meal Plan Image">
                            </a>
                            <div class="inline-block" style="color: orange; font-size: x-large; font-style: oblique;">
                                <p>@plan.MealPlanName</p>
                                <p>@plan.Recipes.Count() Recipes Added</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <p id="buttonOnMealPlanPage">
            <a href="/Recipe/Index" class="btn btn-primary" style="margin-left: 10%">All Recipes</a>
            <a href="/Account/Register" class="btn btn-warning" style="margin-left: 10%">Not Registered? Sign Up!</a>
        </p>
    </div>
</body>