@model AwesomeModel
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.ComponentModel.DataAnnotations;

@using System.Threading.Tasks;

@{

    ViewData["Title"] = "MealPlanDetail";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>@Model.MealPlan.MealPlanName</th>
            <th>Recipe</th>
            <th>Meal</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @{
                for (int i =0; i < Model.MealPlan.RecipesList.Count; i++)
                {
                <th scope="row">@i</th>
                <td>@Model.MealPlan.RecipesList[i].RecipeName</td>
                <td>@Model.MealPlan.RecipesList[i].RecipeType</td>
                    }
                }
        </tr>

    </tbody>
</table>