@using WebApplication.Web.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-HD-Pictures-Food-PIC-WPD006582.jpg");
        background-size: 100%;
        background-attachment: fixed;
       
    }
</style>
<body>
    <h2 style="color:white">Register</h2>

    <form asp-controller="account" asp-action="register" method="post">
        <div class="form-group" >
            <label asp-for="Email" style="color:white"></label>
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group" >
            <label asp-for="Password" style="color:white"></label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group" >
            <label asp-for="ConfirmPassword" style="color:white"></label>
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>